.tag {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24.4rem;
    width: 100%;
    max-width: 12.1rem;
    padding: .6rem .4rem;
    transition: all .3s;

    .icon {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        background-color: rgba($color: #C20001, $alpha: 0.15);

        @include centerTotalFlex;

        margin-right: .8rem;

        


    }

    span {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        
        color: #C20001;
    }

    &.blue-tag {
        .icon {
            background-color: rgba($color: #3F67BA, $alpha: 0.15);
        }

        span {
            color: #3F67BA;
        }
    }

    &:hover {
        padding-left: .8rem;
        padding-right: .8rem;
    }
}

.search {
    background-color: #FFFFFF;
    border-radius: 12.2rem;
    height: 5.6rem;
    width: 100%;
    max-width: 40.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: .7rem;


    input[type=text] {  
        border: none;
        outline: none;
        width: 80%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 150%;
        color: rgba($color: #000000, $alpha: .7);

        &::placeholder {
            color: #A0AFBA;
        }
        
    }

    button {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        background-color: rgba($color: #9EB9E1, $alpha: .1);
        border: 1px solid transparent;
        transition: border-color .3s;

        &:disabled {
            opacity: .4;
            
        }

        &:hover {
            border-color: #3E75C3;
        }

        @include centerTotalFlex;
    }
}

.type-filter {
    display: flex;
    align-items: center;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all .3s;

    &:hover,
    &.active {
        filter: grayscale(0%);
        opacity: 1;
    }

    .icon {
        width: 2.8rem;
        height: 2.8rem;
        @include centerTotalFlex;
        margin-right: 0.5rem;
    }

    span {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
    }

    &.bug {
        span {
            color: $type-bug;
        }
    }
    
    &.all {
        span {
            color: $blue-primary;
        }
    }

    &.dark {
        span {
            color: $type-dark;
        }
    }

    &.dragon {
        span {
            color: $type-dragon;
        }
    }

    &.electric {
        span {
            color: $type-electric;
        }
    }

    &.fairy {
        span {
            color: $type-fairy;
        }
    }

    &.fighting {
        span {
            color: $type-fighting;
        }
    }

    &.ground {
        span {
            color: $type-ground;
        }
    }

    &.ice {
        span {
            color: $type-ice;
        }
    }

    &.normal {
        span {
            color: $type-normal;
        }
    }

    &.poison {
        span {
            color: $type-poison;
        }
    }

    &.psychic {
        span {
            color: $type-psychic;
        }
    }

    &.rock {
        span {
            color: $type-rock;
        }
    }

    &.ghost {
        span {
            color: $type-ghost;
        }
    }

    &.grass {
        span {
            color: $type-grass;
        }
    }

    &.steel {
        span {
            color: $type-steel;
        }
    }

    &.water {
        span {
            color: $type-water;
        }
    }

    &.fire {
        span {
            color: #F66D6D;
        }
    }

    &.flying {
        span {
            color: $type-flying;
        }
    }
}

.card-pokemon {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 28rem;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
    height: 34rem;
    transition: all .6s;


    &:hover {
        box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
        transform: scale(1.02);
        .image {
            img {
                transform: scale(1.08) rotate(-2deg);

            }

            &::after {
                transform: scale(.9);
            }

            // &::before {
            //     transform: scale(1);
            //     opacity: 1;
            //     border-radius: 1.2rem;
            // }
        }

    }

    &.bug {
        .image {

            &::before {
                background-color: rgba($color: $type-bug, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-bug, $alpha: .2);
            }
   
        }
    }

    &.dark {
        .image {
            &::before {
                background-color: rgba($color: $type-dark, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-dark, $alpha: .2);
            }
        }
    }

    &.dragon {
        .image {
            &::before {
                background-color: rgba($color: $type-dragon, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-dragon, $alpha: .2);
            }
        }
    }

    &.electric {
        .image {
            &::before {
                background-color: rgba($color: $type-electric, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-electric, $alpha: .2);
            }
        }
    }

    &.fairy {
        .image {
            &::before {
                background-color: rgba($color: $type-fairy, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-fairy, $alpha: .2);
            }
        }
    }

    &.fighting {
        .image {
            &::before {
                background-color: rgba($color: $type-fighting, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-fighting, $alpha: .2);
            }
        }
    }

    &.ground {
        .image {
            &::before {
                background-color: rgba($color: $type-ground, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-ground, $alpha: .2);
            }
        }
    }

    &.ice {
        .image {
            &::before {
                background-color: rgba($color: $type-ice, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-ice, $alpha: .2);
            }
        }
    }

    &.normal {
        .image {
            &::before {
                background-color: rgba($color: $type-normal, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-normal, $alpha: .2);
            }
        }
    }

    &.poison {
        .image {
            &::before {
                background-color: rgba($color: $type-poison, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-poison, $alpha: .2);
            }
        }
    }

    &.psychic {
        .image {
            &::before {
                background-color: rgba($color: $type-psychic, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-psychic, $alpha: .2);
            }
        }
    }

    &.rock {
        .image {
            &::before {
                background-color: rgba($color: $type-rock, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-rock, $alpha: .2);
            }
        }
    }

    &.ghost {
        .image {
            &::before {
                background-color: rgba($color: $type-ghost, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-ghost, $alpha: .2);
            }
        }
    }

    &.grass {
        .image {
            &::before {
                background-color: rgba($color: $type-grass, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-grass, $alpha: .2);
            }
        }
    }


    &.steel {
        .image {
            &::before {
                background-color: rgba($color: $type-steel, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-steel, $alpha: .2);
            }
        }
    }

    &.water {
        .image {
            &::before {
                background-color: rgba($color: $type-water, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-water, $alpha: .2);
            }
        }
    }
    
    &.fire {
        .image {
            &::before {
                background-color: rgba($color: $type-fire, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-fire, $alpha: .2);
            }
        }
    }

    &.flying {
        .image {
            &::before {
                background-color: rgba($color: $type-flying, $alpha: .04);
            }

            &::after {
                background-color: rgba($color: $type-flying, $alpha: .2);
            }
        }
    }


    .image {
        width: 20rem;
        height: 20rem;
        @include centerTotalFlex;
        margin: 0 auto;
        margin-bottom: 1.4rem;
        position: relative; 

        .thumb-img {
            height: 100%;
            max-width: 14.2rem;
        }

        

        img {
            transition: all .3s ease;
        }

        &::before {
            content: '';
            position: absolute;
            width: 28rem;
            height: 34rem;
            top: -3.7rem;
            z-index: -1;
            transition: all .3s ease;
            transform: scale(0.7);
            opacity: 0;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 16.5rem;
            height: 16.5rem;
            border-radius: 50%;
            z-index: -1;
            transition: all .3s;
        }


    }

    .info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 2.8rem;
        width: 100%;

        .text {
            span {
                text-align: left;
                display: block;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 150%;
                margin-bottom: .6rem;
                
                color: #7A7D80;
            }
        }

        .icon {
            margin-bottom: 1rem;
        }
    }

    @media(max-width: 1200px) {
        max-width: 100%;
    }
}

.tag-type {
    display: inline-block;
    padding: 0 2.5rem;
    line-height: 2.4rem;
    border-radius: .2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;

    letter-spacing: -0.01em;
    

    &.bug {
        color: $type-bug;
        background-color: rgba($color: $type-bug, $alpha: .1);
    }

    &.dark {
        color: $type-dark;
        background-color: rgba($color: $type-dark, $alpha: .1);
    }

    &.dragon {
        color: $type-dragon;
        background-color: rgba($color: $type-dragon, $alpha: .1);
    }

    &.electric {
        color: $type-electric;
        background-color: rgba($color: $type-electric, $alpha: .1);
    }

    &.fairy {
        color: $type-fairy;
        background-color: rgba($color: $type-fairy, $alpha: .1);
    }

    &.fighting {
        color: $type-fighting;
        background-color: rgba($color: $type-fighting, $alpha: .1);
    }

    &.ground {
        color: $type-ground;
        background-color: rgba($color: $type-ground, $alpha: .1);
    }

    &.ice {
        color: $type-ice;
        background-color: rgba($color: $type-ice, $alpha: .1);
    }

    &.normal {
        color: $type-normal;
        background-color: rgba($color: $type-normal, $alpha: .1);
    }

    &.poison {
        color: $type-poison;
        background-color: rgba($color: $type-poison, $alpha: .1);
    }

    &.psychic {
        color: $type-psychic;
        background-color: rgba($color: $type-psychic, $alpha: .1);
    }

    &.rock {
        color: $type-ice;
        background-color: rgba($color: $type-rock, $alpha: .1);
    }

    &.ghost {
        color: $type-ghost;
        background-color: rgba($color: $type-ghost, $alpha: .1);
    }

    &.grass {
        color: #5CA48A;
        background-color: rgba($color: #5CA48A, $alpha: .1);
    }

    &.steel {
        color: $type-steel;
        background-color: rgba($color: $type-steel, $alpha: .1);
    }

    &.water {
        color: $type-water;
        background-color: rgba($color: $type-water, $alpha: .1);
    }

    &.fire {
        color: $type-fire;
        background-color: rgba($color: $type-fire, $alpha: .1);
    }

    &.flying {
        color: $type-flying;
        background-color: rgba($color: $type-flying, $alpha: .1);
    }
}

.btn-load-more {
    background-color: rgba($color: $blue-primary, $alpha: .1);
    border-radius: .6rem;
    padding: 1.4rem 2rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;

    letter-spacing: -0.01em;
    
    color: $blue-primary;

    transition: all .3s;

    &:hover {
        background-color: $type-dragon;
        color: #FFFFFF;
    }
}

.loading {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include centerTotalFlex;

    z-index: 2023;

    overflow: hidden;

    opacity: 0;
    pointer-events: all;
    pointer-events: none;


    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba($color: #000000, $alpha: .5);
    }

    .content {
        width: 7rem;
        height: 7rem;

        z-index: 2;
        border-radius: .6rem;
        @include centerTotalFlex;

        &::after {
            content: '';
            position: absolute;
            width: 6rem;
            height: .5rem;
            z-index: 1;
            background-color: #efefef;  
        }


        .loader {
            width: 100%;
            height: 100%;
            border: 6px solid #e5e5e5;
            border-top-color: red;
            animation: rotating .6s infinite linear;
            z-index: 2;
            border-radius: 50%;
            position: relative;

            @include centerTotalFlex;

            &::before {
                content: '';
                position: absolute;
                width: 25%;
                height: 25%;
                border-radius: 50%;
                background-color: #FFFFFF;
                z-index: 2;
            }


        }
    }


}

@keyframes rotating {
    to {
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include centerTotalFlex;

    z-index: 2023;

    opacity: 0;
    pointer-events: none;
    transition: all .3s;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba($color: #000000, $alpha: .5);
    }

        
    &[type-pokemon-modal = "bug"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/bug.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "dark"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/dark.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "dragon"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/dragon.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "electric"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/electric.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "fairy"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/fairy.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "fighting"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/fighting.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "ground"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/ground.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "ice"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/ice.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "normal"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/normal.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "poison"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/poison.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "psychic"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/psychic.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "rock"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/rock.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "ghost"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/ghost.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "grass"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/grass.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "steel"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/steel.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "water"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/water.svg');
            }
        }
    }

        
    &[type-pokemon-modal = "fire"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/fire.svg');
            }
        }
    }

    
    &[type-pokemon-modal = "flying"] {
        .box {
            .left-container {
                background-image: url('../assets/bg-types/flying.svg');
            }
        }
    }

    .box {
        position: relative;
        width: 100%;
        max-width: 71rem;
        height: 55rem;
        background-color: #FFFFFF;
        z-index: 1;
        border-radius: 1.6rem;
        box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
        display: flex;

        transform: translateY(4rem);
        transition: all .3s ease-in;

        .close {
            width: 3.6rem;
            height: 3.6rem;
            position: absolute;
           top: calc(-3.6rem - 0.8rem);
            right: 0;
            background-color: white;
            border-radius: .8rem;
            @include centerTotalFlex;
        }


        .left-container {
            position: relative;
            width: 100%;
            max-width: 19.1rem;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all .3s ease;
            background-size: cover;
            border-radius: 1.6rem 0 0 1.6rem;

            .icon {
                width: 3.4rem;
                height: 3.4rem;
                background-color: #FFFFFF;
                border-radius: 50%;
                @include centerTotalFlex;
                position: absolute;
                right: 2rem;
                top: 2rem;

                img {
                    transform: scale(0);
                    transition: all .5s ease-out;
                }

            }

            .image {
                position: absolute;
                width: 20.2rem;
                left: 1.4rem;
                bottom: 13.8rem;
                transform: translateX(-30px) scale(0.9);
                opacity: 0;
                transition: all .5s ease; 

                img {
                    width: 100%;
                }
            }
        }

        .right-container {
            padding: 3.5rem 7.2rem 2.9rem 7.4rem;
            transform: translateX(-30px);
            opacity: 0;
            transition: all .5s ease;
            width: 100%;

            .name {
                display: flex;
                align-items: flex-end;
                margin-bottom: 1rem;

                h2 {
                    margin-right: .8rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 2.8rem;
                    line-height: 3.4rem;
                    letter-spacing: -0.01em;
                    
                    color: #2F3133;
                }

                span {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2rem;

                    letter-spacing: -0.01em;
                    display: block;
                    
                    margin-bottom: .25rem;
                    color: #7A7D80;
                }
            }

            .type {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 3.2rem;
                row-gap: 1rem;

                li {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }

            .info {
                display: flex;
                align-items: flex-start;
                margin-bottom: 3.2rem;
                row-gap: 1rem;

                li {
                    &:not(:last-child) {
                        margin-right: 4.8rem;
                    }

                    span {
                        display: block;
                        font-weight: 400;
                        font-size: 1.3rem;
                        line-height: 1.6rem;

                        letter-spacing: -0.01em;
                        
                        color: #7A7D80;

                        margin-bottom: .4rem;
                    }

                    strong {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 1.7rem;

                        letter-spacing: -0.01em;
                        
                        color: #2F3133;
                    }
                }
            }

            .weak {
                margin-bottom: 3.2rem;

                h4 {
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;

                    margin-bottom: 2rem;
                }

                ul {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
                    row-gap: 1rem;

                    li {
                        &:not(:last-child) {
                            margin-right: 1rem;
                        }
                    }
                }
            }

            .status {
                h5 {
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.6rem;

                    letter-spacing: -0.01em;
                    
                    color: #4D5053;   
                    
                    margin-bottom: 1.6rem;
                }

                .all {
                    overflow: hidden;
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:last-child) {
                            margin-bottom: 1.3rem;
                        }

                        span {
                            font-weight: 400;
                            font-size: 1.2rem;
                            line-height: 1.5rem;

                            color: #7A7D80;

                            display: block;
                            width: 6.8rem;
                        }

                        .bar-status {
                            position: relative;
                            width: 100%;
                            max-width: 28.3rem;
                            height: .3rem;
                            background-color: #EFF3F6;
                            .bar {
                                width: 56%;
                                height: 100%;
                                position: absolute;
                                transition: all .8s ease-out;
                                top: 0;
                                left: 0;
                                z-index: 0;
                                background-color: #C20001;
                            }

                            .separator {
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                
                                @include centerTotalFlex;

                                li {
                                    width: .4rem;
                                    height: .3rem;
                                    background-color: #FFFFFF;

                                    &:not(:first-child) {
                                        margin-left: 5.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    @media(max-width: 705px) {
        align-items: flex-end;
        .box {
            flex-direction: column;
            width: 100%;
            height: 90%;
            border-radius: 0;
            opacity: 1;
            transform: translateY(100%);
            transition: all .3s;
            border-radius: 1.6rem 1.6rem 0 0;
        

            .left-container {
                max-width: 100%;
                background-size: cover;
                height: 12rem;


                .image {
                    bottom: -1rem;
                    width: 12rem;
                    left: 50%;
                    margin-left: -6rem;
                    transform: translateY(80px) scale(0);
                    transition: all .6s ease;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .close {
                top: -5rem;
                border-radius: .8rem .8rem 0 0;
                width: 5rem;
                height: 5rem;
                
                img {
                    width: 2.5rem;
                }
            }

            .right-container {
                padding: 2rem 2.4rem;
                transform: translateY(80px);
                transition: all .8s ease;



                .name {
                    justify-content: center;
                }

                .type {
                    justify-content: center;
                }

                .info {
                    justify-content: center;
                }

                .weak {
                    h4 {
                        text-align: center;
                    }

                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        li {
                            &:not(:last-child) {
                                margin: 0;
                                margin-right: 1rem;
                            }
                            margin: 0;

                            .tag-type {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }

                .status {
                    .all {
                        .item {
                            .bar-status {
                                max-width: 75%;

                                .separator {
                                    li {
                                        &:not(:first-child) {
                                            margin-left: 20%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.open-modal {
    .modal {
        opacity: 1;
        pointer-events: all;
        
        transform: translateY(0);

        .box {
            transform: translateY(0);

            .left-container {


                .image {
                    transform: translateX(0) scale(1);
                    opacity: 1;
                }

                .icon {
                    img {
                        transform: scale(1);
                    }
                }
            }

            .right-container {
                transform: translateX(0);
                opacity: 1;

            }
        }
    }

    @media(max-width: 700px) {
        .box {
            transform: translateY(0%);

            .left-container {

                .icon {
                    img {
                        transform: scale(1);

                    }
                }

                .image {
                    transform: translateY(0) scale(1);
                    opacity: 1;
                }
            }

            .right-container {
                transform: translateY(0);
                opacity: 1;

            }
        }
    }
}

.lock-scroll {
    overflow: hidden;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1);
    }
}